# Output executables
# main
check_array_utils

# Log files
*.log

# Makefiles ( have to be generated with cmake )
Makefile
"src/Makefile"

# Libs
*.a

# CMake files
*.cmake
!FindCheck.cmake

# CMake directories
CMakeFiles

# Sublime Text
*.sublime-project
*.sublime-workspace

# Various config files
CMakeCache.txt
config.h

# Various directories
Testing
output
.libs
.deps
/matrice_grad_conf/
