# Output executables
#main
check_array_utils

# Log files
*.log

# Makefiles ( have to be generated with cmake )
Makefile

# Libs
*.a

# CMake files
*.cmake

# CMake directories
CMakeFiles

# Sublime Text
*.sublime-project
*.sublime-workspace

# Various config files
CMakeCache.txt
config.h

# Various directories
Testing
.libs
.deps